<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>RAFFLES HOTEL YACARTA - Grupo 20 Equipo 1</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' media='screen' href='../static/estilos/estilos.css'>
    <script src='../static/scripts/scripts.js'></script>
</head>
<body>
    <div class="container">
      <div class="row">
        <br>
      </div>
      <div class="row" id = "encabezado">
        <h1 class="text-center">RAFFLES HOTEL YACARTA</h1>
      </div>
      <div class="row">
        <h2 class="text-center">Opciones Usuario SuperAdministrador</h2>
      </div>      

      <div class="row">
          <div class="row">
              <!--<a class="btn btn-outline-dark" href="0-1-1-1-consulta_datos_usuario.html" role="button">Datos de la cuenta</a> --> 
            <a class="btn btn-outline-dark" href="{{ url_for('consulta_datos_usuario') }}" role="button">Datos de la cuenta</a>  
            </a>   
          </div>
          
          <div class="row">
            <br>
          </div>
          
          <div class="row">
            <!--<a class="btn btn-outline-dark" href="0-1-1-2-gestion_usuarios_administradores.html" role="button">Gestión de Usuarios Administradores</a> --> 
            <a class="btn btn-outline-dark" href="{{ url_for('gestion_usuarios_administradores') }}" role="button">Gestión de Usuarios Administradores</a>
          </div>
          
          <div class="row">
            <br>
          </div>

          <div class="row">
             <!--<a class="btn btn-outline-dark" href="0-1-1-3-gestion_usuarios_finales.html" role="button">Gestión de Usuarios Finales</a> -->  
             <a class="btn btn-outline-dark" href="{{ url_for('gestion_usuarios_finales') }}" role="button">Gestión de Usuarios Finales</a>
            </a>   
          </div>

          <div class="row">
            <br>
          </div>

          <div class="row">
            <!--<a class="btn btn-outline-dark" href="0-1-1-4-gestion_habitaciones.html" role="button">Gestión de Habitaciones</a> -->  
            <a class="btn btn-outline-dark" href="{{ url_for('gestion_habitaciones')}}" role="button">Gestión de Habitaciones</a>
          </a>   
          </div>

          <div class="row">
            <br>
          </div>

          <div class="row">
            <!--<a class="btn btn-outline-dark" href="0-1-1-4-gestion_habitaciones.html" role="button">Gestión de Habitaciones</a> -->  
            <a class="btn btn-outline-dark" href="{{ url_for('consulta_reservas')}}" role="button">Gestión de Reservas</a>
          </a>   
          </div>

          <div class="row">
            <br>
          </div>

          <div class="row">
             <!--<a class="btn btn-outline-dark" href="0-1-1-5-restringir_comentarios.html" role="button">Restringir Comentarios</a> -->  
             <a class="btn btn-outline-dark" href="{{ url_for('restringir_comentarios')}}" role="button">Restringir Comentarios</a>
            </a>   
          </div>

          <div class="row">
            <br>
          </div>
          
          <div class="row">
            <div class="btn-group" role="group" aria-label="Basic example">
               <!--<a class="btn btn-outline-dark" href="0-1-login.html" role="button">Ir a Anterior</a>-->
              <a class="btn btn-outline-dark" href="{{url_for('usuario_registrado')}}" role="button">Ir a Anterior</a>
                <!--<a class="btn btn-outline-dark" href="0-inicio.html" role="button">Ir a Inicio</a>-->
              <a class="btn btn-outline-dark" href="{{url_for('inicio')}}" role="button">Ir a Inicio</a>
            
            </div>  
          </div>
          
        </div>
    </div>
    
</body>
</html>
