<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>RAFFLES HOTEL YACARTA - Grupo 20 Equipo 1</title>
    <!--Este estilo puede referenciarse en todas los Mockups-->
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' media='screen' href='../static/estilos/estilos.css'>
    <script src='../static/scripts/scripts.js'></script>
</head>
<body>
    <div class="container">
      <form method="POST" action="{{ url_for('consulta_reservas_admin') }}" novalidate>
        {{ form.hidden_tag() }}
        <div class="row">
          <br>
        </div>
        <div class="row" id = "encabezado">
          <h1 class="text-center">RAFFLES HOTEL YACARTA</h1>
        </div>
        <div class="row">
          <h2 class="text-center">Módulo de Reservas Administrador</h2>
        </div>      

        <div class="row">
          <br>
        </div>

        <div class="row">
          <div class="col">
            {{ form.initialdate.label }}
            <!--<p class="text-left">Fecha Inicial</p>-->
          </div> 
          <div class="col">
            {{ form.initialdate(type="date", class="form-control") }}
            <!--<input type="date" class="form-control">-->
          </div>
        </div>

        <div class="row">
          <div class="col">
            {{ form.finaldate.label }}
            <!--<p class="text-left">Fecha Final</p>-->
          </div> 
          <div class="col">
            {{ form.finaldate(type="date", class="form-control") }}
            <!--<input type="date" class="form-control">-->
          </div>        
        </div>

        <div class="row">
          <div class="col">
            {{ form.bedroom.label }}
            <!--<p class="text-left">Habitacion</p>-->
          </div> 
          <div class="col">
            {{ form.bedroom(class="form-select") }} <!--Aquí falta complementar-->
            
            <!--
              <select class="form-select" aria-label="Default select example">
              <option selected>Elija la habitación</option>
              <option value="1">101</option>
              <option value="2">102</option>
              <option value="3">103</option>
            </select>
            -->
            <!--Estas opciones deberían interactuar con las creadas en la base de datos-->
          </div>
        </div>

        <div class="row">
          <br>
        </div>

        <div class="row">             
          {{ form.consult(class="btn btn-outline-dark") }}
        </div>      
         
        <div class="row">
          <br>
          <br>
        </div>

        <div class="row">
          <table class="table table-striped text-center">
            <thead>
              <tr>
                <th scope="col">ID Reserva</th>
                <th scope="col">ID Habitación</th>
                <th scope="col">ID Usuario</th>
                <th scope="col">Comentario</th>
                <th scope="col">Calificación</th>
                <th scope="col">Fecha Inicial</th>
                <th scope="col">Fecha Final</th>
                <th scope="col">Vigente</th>
                <th scope="col">Modificar</th>
                <th scope="col">Cancelar</th>
              </tr>
            </thead>

            <!--Aquí viene un if que debe validar la existencia de reservas una vez se da click
              en el boton consultar, allí si se da click se despliega la lista en las líneas
              inferiores.
              Posteriormente hay un if que se comunica con el app.py modulo_reservas y valida si hay reservas en la base de datos
              algo como reservas.listado (crear la función listado en la clase reservas models)-->
            
            {% if mostrar == 1 %}
              {% if lista %}
                {% for item in lista %}
                  <tbody>
                    <tr>
                      <td>{{ item.id_reserva }}</td>
                      <td>{{ item.id_habitacion }}</td>
                      <td>{{ item.id_usuario }}</td>
                      <td>{{ item.comentario }}</td>
                      <td>{{ item.calificación }}</td>
                      <td>{{ item.fecha_inicial }}</td>
                      <td>{{ item.fecha_final }}</td>
                      <td>{{ item.activo }}</td>
                      <!--<td><a class="btn btn-light" href="0-1-3-4-2-modificar_reservas.html" role="button">Modificar</a></td> -->
                      <td><a class="btn btn-light" href="{{url_for('modificar_reservas_admin',id_reserva_modificar=item.id_reserva)}}" role="button">Modificar</a></td>
                      <td><a class="btn btn-light" href="{{url_for('cancelar_reservas_admin', id_reserva_cancelar=item.id_reserva)}}" role="button">Cancelar</a></td>
                    </tr>
                  </tbody>
                {% endfor %}
              {% else %}
                <tbody>
                  <tr>
                    <td colspan="10">No se encontraron reservas en la base de datos, por favor verifique los campos ingresados</td>
                  </tr>
                </tbody>
              {% endif %}
            {% endif %}

            <div class="row">
              {% if mensaje %}
                {{ mensaje }}
              {% endif %}
            </div>

          </table>

        </div>
        
        <div class="row">
          <div class="btn-group" role="group" aria-label="Basic example">
            <!--<a class="btn btn-outline-dark" href="0-1-3-4-1-crear_reservas.html" role="button">Nueva Reserva</a>-->
            <a class="btn btn-outline-dark" href="{{url_for('crear_reservas_admin')}}" role="button">Nueva Reserva</a>
            <!--<a class="btn btn-outline-dark" href="0-1-3-opciones_usuario_final_registrado.html" role="button">Ir a Anterior</a>-->
            <a class="btn btn-outline-dark" href="{{url_for('registrado_A')}}" role="button">Ir a Anterior</a>
            <!--Revisar cuál es el link anterior: corregido--> 
            <!--<a class="btn btn-outline-dark" href="0-inicio.html" role="button">Ir a Inicio</a>--> 
            <a class="btn btn-outline-dark" href="{{url_for('inicio')}}" role="button">Ir a Inicio</a>
            
          </div> 
        </div>
      </form>
    </div>
  </body>
</html>
