<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>RAFFLES HOTEL YACARTA - Grupo 20 Equipo 1</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' media='screen' href='../static/estilos/estilos.css'>
    <script src='../static/scripts/scripts.js'></script>
</head>
<body>
    <div class="container">
        <div class="col">
          <div class="row">
            <br>
          </div>
          <div class="row" id = "encabezado">
            <h1 class="text-center">RAFFLES HOTEL YACARTA</h1>
          </div>
          <div class="row">
            <h2 class="text-center">Opciones Usuario Final Registrado</h2>
          </div>      

          <div class="row">
            <br>
          </div>

          <div class="row">
            <!--<a class="btn btn-outline-dark" href="0-1-3-1-consulta_datos_usuario.html" role="button">Datos de la cuenta</a> -->
            <a class="btn btn-outline-dark" href="{{url_for('consulta_datos_usuario_final')}}" role="button">Datos de la cuenta</a>  
            </a>   
          </div>
          
          <div class="row">
            <br>
          </div>
          
          <div class="row">
          <!--  <a class="btn btn-outline-dark" href="0-1-3-2-consulta_habitaciones_disponibles_usuario_final.html" role="button">Consulta de Habitaciones Disponibles</a> -->
          <a class="btn btn-outline-dark" href="{{url_for('consulta_habitaciones_disponibles_usuario_final')}}" role="button">Consulta de Habitaciones Disponibles</a> 
          </div>
          
          <div class="row">
            <br>
          </div>

          <div class="row">
          <!--   <a class="btn btn-outline-dark" href="0-1-3-3-gestion_habitaciones_reservadas_usuario_final.html" role="button">Consulta de Habitaciones Reservadas</a> -->
            <a class="btn btn-outline-dark" href="{{url_for('gestion_habitaciones_reservadas_usuario_final')}}" role="button">Consulta de Habitaciones Reservadas</a>  
            </a>   
          </div>

          <div class="row">
            <br>
          </div>

          <div class="row">
          <!--  <a class="btn btn-outline-dark" href="0-1-3-4-modulo_reservas.html" role="button">Gestion Reservas</a> -->
            <a class="btn btn-outline-dark" href="{{url_for('modulo_reservas')}}" role="button">Gestion Reservas</a>  
            </a>   
          </div>

          <div class="row">
            <br>
          </div>
                  
          <div class="row">
            <div class="btn-group" role="group" aria-label="Basic example">
                <!-- <a class="btn btn-outline-dark" href="0-1-login.html" role="button">Ir a Anterior</a> -->
                <a class="btn btn-outline-dark" href="{{url_for('usuario_registrado')}}" role="button">Ir a Anterior</a>
                <!-- <a class="btn btn-outline-dark" href="0-inicio.html" role="button">Ir a Inicio</a> -->
                <a class="btn btn-outline-dark" href="{{url_for('inicio')}}" role="button">Ir a Inicio</a> 
            </div> 
        </div>
        </div>
    </div>
    
</body>
</html>
