<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>RAFFLES HOTEL YACARTA - Grupo 20 Equipo 1</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' media='screen' href='../static/estilos/estilos.css'>
    <script src='../static/scripts/scripts.js'></script>
</head>
<body>
    <div class="container">
      <form method="POST" action="{{ url_for('usuario_registrado') }}" novalidate>
        {{ form.hidden_tag() }}
        
        <div class="row">
          <br>
        </div>
     
        <div class="row" id = "encabezado">
          <h1 class="text-center">RAFFLES HOTEL YACARTA</h1>
        </div>

        <div class="row">
          <h2 class="text-center">Login</h2>
        </div>

        <div class="row">
          <br>
        </div>

        <div class="row">
          <div class="col">
            {{ form.user.label }}
            <!--<p class="text-center">Usuario </p>-->
          </div>
          <div class="col">
            {{ form.user(class="form-control") }}
            <!--<input type="text" class="form-control">-->
          </div>
        </div>
        
        <div class="row">
          <br>
        </div>

        <div class="row">
          <div class="col">
            {{ form.password.label }}
            <!--<p class="text-center">Contraseña </p>-->
          </div>
          <div class="col">
            {{ form.password(class="form-control") }}
            <!--<input type="text" class="form-control">-->
          </div>
        </div>

        <div class="row">
          <br>
        </div>

        <div class="row">
            {{ form.tipoUsuario.label }}
            {{ form.tipoUsuario() }}
        </div>

        <div class="row">
          <br>
        </div>

        <div class="row">             
              {{ form.enviar(class="btn btn-outline-dark") }}
        </div> 

        <div class="row">             
          {% if mensaje %}
            {{ mensaje }}
          {% endif %}
        </div>

      </form> 

      <div class="row">
        <br>
      </div>
      
      <div class="row">
        <div class="btn-group" role="group" aria-label="Basic example">              
            <a class="btn btn-outline-dark" href="{{url_for('inicio')}}" role="button">Ir a Anterior</a>
            <!--<a class="btn btn-outline-dark" href="0-inicio.html" role="button">Ir a Anterior</a>-->
            <a class="btn btn-outline-dark" href="{{url_for('inicio')}}" role="button">Ir al Inicio</a>
            <!--<a class="btn btn-outline-dark" href="0-inicio.html" role="button">Ir al Inicio</a>-->
        </div> 
      </div> 
    </div>
</body>
</html>