<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>RAFFLES HOTEL YACARTA - Grupo 20 Equipo 1</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' media='screen' href='../static/estilos/estilos.css'>
    <script src='../static/scripts/scripts.js'></script>
</head>
<body>
    <div class="container">
      <div class="row">
        <br>
      </div>
      <div class="row" id = "encabezado">
        <h1 class="text-center">RAFFLES HOTEL YACARTA</h1>
      </div>
      <div class="row">
        <h2 class="text-center">Consulta de Habitaciones Reservadas</h2>
      </div>
      <div class="row">

      <div class="row">
        <table class="table table-striped text-center">
          <thead>
            <tr>
              <th scope="col">Habitación</th>
              <th scope="col">Reserva</th>
              <th scope="col">Calificación</th>
              <th scope="col">Comentar</th>
              <th scope="col">Calificar</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>101</th>
              <th>0001</th>
              <td>6.0</td>
              <td><a class="btn btn-light" href="{{url_for('modificar_comentarios_habitacion')}}" role="button">Comentar</a></td>
              <!--<td><a class="btn btn-light" href="0-1-3-3-1-modificar_comentarios_habitacion.html" role="button">Comentar</a></td>-->
              <td><a class="btn btn-light" href="{{ url_for('calificar_habitaciones',codigo_habitacion='101',codigo_reserva='0025') }}" role="button">Calificar</a></td>
              <!--<td><a class="btn btn-light" href="0-1-3-3-2-calificar_habitaciones.html" role="button">Calificar</a></td>-->
            </tr>

            <tr>
              <th>102</th>
              <th>0020</th>
              <td>7.0</td>
              <td><a class="btn btn-light" href="{{url_for('modificar_comentarios_habitacion')}}" role="button">Comentar</a></td>
              <!--<td><a class="btn btn-light" href="0-1-3-3-1-modificar_comentarios_habitacion.html" role="button">Comentar</a></td>-->
              <td><a class="btn btn-light" href="{{ url_for('calificar_habitaciones',codigo_habitacion='102',codigo_reserva='0020') }}" role="button">Calificar</a></td>
              <!--<td><a class="btn btn-light" href="0-1-3-3-2-calificar_habitaciones.html" role="button">Calificar</a></td>-->
            </tr>

            <tr>
              <th>103</th>
              <th>0035</th>
              <td>8.5</td>
              <td><a class="btn btn-light" href="{{url_for('modificar_comentarios_habitacion')}}" role="button">Comentar</a></td>
              <!--<td><a class="btn btn-light" href="0-1-3-3-1-modificar_comentarios_habitacion.html" role="button">Comentar</a></td>-->
              <td><a class="btn btn-light" href="{{ url_for('calificar_habitaciones',codigo_habitacion='103',codigo_reserva='0035') }}" role="button">Calificar</a></td>
              <!--<td><a class="btn btn-light" href="0-1-3-3-2-calificar_habitaciones.html" role="button">Calificar</a></td>-->
            </tr>

          </tbody>
        </table>

      </div>
      <div class="row">
        <div class="btn-group" role="group" aria-label="Basic example">
          <!--<a class="btn btn-outline-dark" href="0-1-3-opciones_usuario_final_registrado.html" role="button">Ir a Anterior</a>-->
          <a class="btn btn-outline-dark" href="{{url_for('consulta_opciones_usuario_final_registrado')}}" role="button">Ir a Anterior</a>
          <!--<a class="btn btn-outline-dark" href="0-inicio.html" role="button">Ir a Inicio</a>-->
          <a class="btn btn-outline-dark" href="{{url_for('inicio')}}" role="button">Ir a Inicio</a>
          <!--<a class="btn btn-outline-dark" href="0-1-3-4-modulo_reservas.html" role="button">Gestión Reservas</a>-->
          <a class="btn btn-outline-dark" href="{{url_for('modulo_reservas')}}" role="button">Gestión Reservas</a>
        </div> 
      </div> 
      
      <div class="row">
        <p id="mensaje">
            {{sentencia}}
        </p>
      </div>

    </div>
  </body>
</html>
