<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RAFFLES HOTEL YACARTA - Grupo 20 Equipo 1</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' media='screen' href='../static/estilos/estilos.css'>
    <script src='../static/scripts/scripts.js'></script>
</style>
</head>
<body>
    <div class="container">
      <form method="POST" action="{{ url_for('calificar_habitaciones',codigo_habitacion=numero_habitacion,codigo_reserva=numero_reserva)}}" novalidate>
      {{ form.hidden_tag() }}

      <div class="row">
        <br>
      </div>
        
      <div class="row">
        <br>
      </div>

      <div class="row" id = "encabezado">
        <h1 class="text-center">RAFFLES HOTEL YACARTA</h1>
      </div>

      <div class="row">
        <h2 class="text-center">Calificar Habitación</h2>
      </div>

      <div class="row">
        <div class="row">
          <div class="col">
            <h3 class="text-center">Habitación : {{ numero_habitacion }}</h3>
            <!--Aquí el 101 se debe reemplazar por la consulta que se realice a BD-->
          </div>
      </div>
  
      <div class="row">
        <div class="col">
          <h3 class="text-center">Reserva : {{ numero_reserva }}</h3>
          <!--Aquí el 0001 se debe reemplazar por la consulta que se realice a BD-->
        </div>
      </div>
  
  
      <div class="row">
        <div class="col">
          <p class="text-left">Calificación</p>
        </div>
      </div>
  
      <div class="row">
        <div class="col">
          <!--<input type="range" class="form-range" min="0" max="10" id="calificacion">-->
          {{ form.calificacion(class="form-range") }}
        </div>
      </div>

      <div class="row">
        <br>
      </div>

      <div class="row">
        <div class="btn-group" role="group" aria-label="Basic example">
          <!--<a class="btn btn-outline-dark" href="0-1-3-3-gestion_habitaciones_reservadas_usuario_final.html" role="button">Modificar</a>-->
          <!--<a class="btn btn-outline-dark" href="{{url_for('gestion_habitaciones_reservadas_usuario_final')}}" role="button">Modificar</a>-->
          {{ form.enviar(class="btn btn-outline-dark") }}
          <!--<a class="btn btn-outline-dark" href="0-1-3-3-gestion_habitaciones_reservadas_usuario_final.html" role="button">Cancelar</a>-->
          <a class="btn btn-outline-dark" href="{{url_for('gestion_habitaciones_reservadas_usuario_final')}}" role="button">Cancelar</a>
          <!--<a class="btn btn-outline-dark" href="0-1-3-3-gestion_habitaciones_reservadas_usuario_final.html" role="button">Ir a Anterior</a>-->
          <a class="btn btn-outline-dark" href="{{url_for('gestion_habitaciones_reservadas_usuario_final')}}" role="button">Ir a Anterior</a>
          <!--<a class="btn btn-outline-dark" href="0-inicio.html" role="button">Ir a Inicio</a>-->
          <a class="btn btn-outline-dark" href="{{url_for('inicio')}}" role="button">Ir a Inicio</a>
        </div> 
      </div>
    </form>
    </div>      
</body>
